<div class="icon navbar align-items-start ">
  <div class="navbar">
    <% if message.id == message.parent_id %>
      <%= link_to '<i class="fa fa-comment text-primary" aria-hidden="true"></i>'.html_safe, chatroom_message_path(message.chatroom_id, message.id)%>
    <% else %>
      <%= link_to '<i class="fa fa-share fa-lg text-secondary" aria-hidden="true"></i>
      '.html_safe , chatroom_message_path(message.chatroom_id, message.parent.id)%>
  <% end %>
  <%= image_tag url_for(message.user.resize_image('32x32!')), class:'img-profile rounded-circle mx-3'  %>
  </div>
  <div class="flex-grow-1">
    <span>
      <%= message.user.username%>
    </span>
    <div class="message-body">
      <%= raw(markdown(message.body)) %>
    </div>
  </div>
</div>
