<div class="container pt-5">
  <div class="text-center mb-5">
    <%= user_image(current_user, 150) %>
    <h3 class="text-gray-800"><%= current_user.username %></h3>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= bootstrap_devise_error_messages! %>

    <div class="row">
      <div class="form-group col-12 col-md-6">
        <%= f.label "使用者名稱" %>
        <%= f.text_field :username, autofocus: false , autocomplete: 'username',class: 'form-control' %>
      </div>

      <div class="form-group col-12 col-md-6">
        <%= f.label "電子郵件" %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "大頭貼" %>
      <%= f.file_field :image,class: 'form-control' %>
    </div>


    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <%= f.label "新密碼" %>
          <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
          <small class="form-text text-muted small">如果不需更換密碼請保留空白</small>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <%= f.label "新密碼確認" %>
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "舊密碼" %>
      <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>

      <small class="form-text text-muted small">請填寫目前密碼以做更新</small>
    </div>

      <%= f.submit "更新", class: 'btn btn-sm btn-dark' %>
  <% end %>

  <p class='pt-2'><%= link_to "刪除帳戶", registration_path(resource_name), class:'small text-gray-500',data: { confirm: t('.are_you_sure') }, method: :delete %>.</p>


</div>
