<div class="form-group">
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <% if OmniAuth::Utils.camelize(provider) == "GoogleOauth2" %>
        <%= link_to omniauth_authorize_path(resource_name, provider) , class:'btn btn-google btn-user btn-block' do%>
          <i class="fab fa-google fa-fw"></i> Google 快速登入

        <% end %>
      <% elsif OmniAuth::Utils.camelize(provider) == "Facebook" %>
        <%= link_to omniauth_authorize_path(resource_name, provider) , class:'btn btn-facebook btn-user btn-block' do %>
          <i class="fab fa-facebook-f fa-fw"></i> Facebook 快速登入

        <% end %>
      <% end %>
    <% end -%>
  <% end -%>

  <hr>
  <%- if controller_name != 'sessions' %>
    <%= link_to "登入", new_session_path(resource_name), class:'small' %><br />
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "註冊", new_registration_path(resource_name) , class:'small'%><br />
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "忘記密碼?", new_password_path(resource_name) , class:'small'%><br />
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to t('.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name) , class:'small'%><br />
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to t('.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name) , class:'small'%><br />
  <% end -%>

</div>
