<%= form_for chatroom, remote: true do |form| %>
  <% if chatroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chatroom.errors.count, "error") %> prohibited this chatroom from being saved:</h2>
      <ul>
      <% chatroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row flex-row flex-nowrap justify-content-center align-item-baseline mb-5" data-behavior='editChatroom' data-chatroom-id='<%= chatroom.id %>'>
      <h3 class='h2 text-dark edit-chatroom-name'><%= chatroom.name %></h3>
      <a href="#" class="mx-4 text-dark small" id="editChatroomName">編輯</a>
  </div>
<% end %>

