<%= form_with(model: chatroom, local: true) do |form| %>
  <% if chatroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chatroom.errors.count, "error") %> prohibited this chatroom from being saved:</h2>

      <ul>
      <% chatroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
  <%= form.label :name, 'name' ,:class => 'col-form-label col-xl-2' %>
  <%= form.text_field :name, :class => 'form-control col-xl-10' %>
  </div>

<div class="form-group row">
  <%= form.submit :class => 'btn class_name' %>
</div>
<% end %>

