<div class="d-flex flex-nowrap w-100 align-items-stretch">
  <div id="chatroom" >
      <div class="row no-gutters align-items-center justify-content-between chatroom-name">
        <h3 class='mb-0 text-dark'><%= chatroom_link(@chatroom) %></h3>
        <button type="button" id="rightPanelCollapse" class="btn btn-sm btn-dark">
          <i class="fas fa-align-left"></i>
          <span>SearchBar</span>
        </button>
      </div>

      <div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>' id='message-box'>
        <div class="history-loader text-center">
          <%= image_tag "duck.gif", style:"max-height:50px"%>
        </div>
        <div id="inner">
          <% @messages.each do |message| %>
            <%= render message %>
          <% end %>
        </div>
      </div>

    <div class="form">
      <%= form_for [@chatroom, Message.new] ,remote: true, authenticity_token: true do |form| %>
        <div class="form-group d-flex align-itmes-center mb-0">
          <%= form.text_area :body, :class => 'input form-control',:placeholder => "有話快說！！！", autofocus: true %>
          <%= form.hidden_field :user_id, :value => current_user.id %>
          <%= form.hidden_field :chatroom_id, :value => @chatroom.id %>
        </div>
      <% end %>
    </div>
    <div id="chatroom-loader" class="loader"></div>
  </div>
  <nav id="right-panel">
    <div id="loader"></div>
      <div class="result-loader text-center d-none">
        <%= image_tag "duck.gif", style:"max-width:200px"%>
      </div>
    <div id="search-result">
    </div>
  </nav>
</div>
