<div class="d-flex flex-nowrap w-100 align-items-stretch">

  <div class="chatroom" >
    <div class="row no-gutters flex-nowrap align-items-center justify-content-start chatroom-name shadow border-left">
      <h3 class='h4 mb-0 mr-2'><%= chatroom_name(@chatroom) %></h3>

      <nav class="row p-0 mx-2 align-items-center d-none d-md-flex">
        <% @chatroom.users_with_image.each do |user| %>
          <%= user_state(user) %>
        <% end %>
      </nav>
      <%= add_member_button(@chatroom) %>
    </div>

    <div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>' class='message-box'>
      <div class="history-loader text-center">
        <%= render 'shared/ducks' %>
      </div>
      <div id="inner">
        <% @messages.each do |message| %>
          <%= render message %>
        <% end %>
      </div>
    </div>


    <div class="form d-flex align-items-center">

      <div class="giphy-area px-2">
        <span id="giphy_icon">
          <%= image_tag 'gif.png', :class => 'gif-image' %>
        </span>
        <div id='giphy_list' style=" display:none">
          <form action="search" id="giphy_search">
            <input type="text" placeholder="輸入想尋找的giphy" id="giphy_form">
          </form>
          <div class="result" id="giphy_resault">
          </div> 
        </div>       
      </div>       

      <%= form_for Message.new, remote: true, html: { multipart: true, class: 'flex-grow-1' }, authenticity_token: true do |form| %>

        <div class="form-group d-flex align-items-center mb-0">

          <label class='file-uploader-label px-2' for="file-uploader">
            <i class="fas fa-paperclip"></i>
            <%= form.file_field :image, :id => 'file-uploader' %>
          </label>
          <%= form.text_area :body, :class => 'input form-control', :row => 1,  :placeholder => "有話快說！！！", autofocus: true, id: 'message_input' %>
          <%= form.button :submit , :class => 'message-submit btn px-4' do %>
            <i class="fas fa-sign-in-alt text-dark "></i>
          <% end %>
          <%= form.hidden_field :user_id, :value => current_user.id %>
          <%= form.hidden_field :chatroom_id, :value => @chatroom.id %>
        </div>
      <% end %>
    </div>
    <div id="chatroom-loader" class="loader"></div>
  </div>
  <%= render 'right_panel' %>

</div>
