<div class="container" id="pop-up-block">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-6">
              <%= link_to  chatrooms_path, class:'close devise btn' do %>
                <span aria-hidden="true">×</span>
              <% end %>
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">忘記密碼驗證</h1>
                </div>

                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'user' }) do |f| %>
                  <%= devise_error_messages! %>
                  <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0 my-4">

                      <%= f.email_field :email, autofocus: true, placeholder: '輸入你的電子郵件', autocomplete: 'email', class: 'form-control' %>
                    </div>
                  </div>

                  <%= f.submit '傳送重設密碼信', class: 'btn btn-prime btn-user btn-block' %>
                  <hr>
                  <div class="text-center">
                    <%= render 'devise/shared/links' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
