<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <%= link_to chatrooms_path, class:'sidebar-brand d-flex align-items-center justify-content-center' do %> 
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="far fa-grin-alt"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Slowduck</div>
  <% end %>


  <!-- Divider -->
  <hr class="sidebar-divider">

  <% if user_signed_in? %>

    <!-- Heading -->
    <div class="sidebar-heading my-2">
      群組聊天室 
    </div>

    
    <% current_user.group_chatrooms.each do |room|%>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <%= link_to  room, class:'nav-link', data: {behavior: "chatroom-link", chatroom_id: room.id} do %>
          <span><%= "#{room.name}" %></span>
          <i class='fa fa-exclamation d-none text-warning ml-2' aria-hidden='true'></i>
        <% end %>
        <%= link_to '#', class:'tab-menu-link', data: {toggle:'collapse', target:"#collapse#{room.id}"} do %>
          <i class="fas fa-fw fa-cog"></i>
        <% end %>
        <div id="collapse<%= room.id%>" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to '編輯', edit_chatroom_path(room.slug), class:'collapse-item' %> 
            <%= link_to '退出', chatroom_path(room.id), class:'collapse-item' , method:'delete', data:{confirm:'你確定要刪除聊天室嗎'} %>
          </div>
        </div>
      </li>
    <% end %>

    <!-- divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading my-2">
      一對一對話
    </div>


    <% current_user.one_on_one_chatrooms.each do |room|%>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <%= link_to  room, class:'nav-link d-flex flex-row align-items-center pr-5', data: {behavior: "chatroom-link", chatroom_id: room.id} do %>
          <%= user_image(room.one_on_one(current_user) , 32) %>
          <span class="ml-3"><%= "#{room.one_on_one(current_user).username} <i class='fa fa-exclamation d-none text-warning ml-2' aria-hidden='true'></i>".html_safe %></span>
        <% end %>
        <%= link_to  hide_chatroom_chatroom_path(room.id), class:'tab-menu-link close1on1 mt-1', method:'post' do %>
          <i class="fas fa-times"></i>
        <% end %>
      </li>
    <% end %>

    <!-- divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading my-2">
      功能    
    </div>


    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <%= link_to  new_chatroom_path, class:'nav-link' do  %>
        <i class="fas fa-fw fa-table mx-2"></i>
        <span>新增聊天群組</span>
      <% end %>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

  <% end %>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle">
      <i class="fas fa-toggle-on" style="color:white;"></i>
    </button>
  </div>

</ul>
<!-- End of Sidebar -->
