<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <%= link_to chatrooms_path, class:'sidebar-brand d-flex align-items-center justify-content-center' do %> 
    <div class="sidebar-brand-icon rotate-n-15">
    </div>
    <div class="sidebar-brand-text mx-3">Slowduck</div>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <%= link_to chatrooms_path, class:"nav-link" do %> 
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    <% end %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <% if user_signed_in? %>

    <!-- Heading -->
    <div class="sidebar-heading">
      Chatroom 
    </div>

    <% current_user.chatrooms.each do |room|%>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <%= link_to  room, class:'nav-link', data: {behavior: "chatroom-link", chatroom_id: room.id} do %>
          <span><%= "#{room.name}<i class='fa fa-exclamation d-none' aria-hidden='true'></i>".html_safe %></span>
        <% end %>
        <%= link_to '#', class:'tab-menu-link', data: {toggle:'collapse', target:"#collapse#{room.id}"} do %>
          <i class="fas fa-fw fa-cog"></i>
        <% end %>
        <div id="collapse<%= room.id%>" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to 'Edit', edit_chatroom_path(room.id), class:'collapse-item' %> 
            <%= link_to 'Add member', new_chatroom_chatroom_user_path(room.id), class:'collapse-item' %>
            <%= link_to 'Delete', chatroom_path(room.id), class:'collapse-item' ,method:'delete', data:{confirm:'你確定要刪除聊天室嗎'} %>
          </div>
        </div>
      </li>
    <% end %>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Addons
    </div>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <%= link_to  new_chatroom_path, class:'nav-link' do  %>
        <i class="fas fa-fw fa-table"></i>
        <span>New Chatroom</span>
      <% end %>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

  <% end %>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle">
      <i class="fas fa-toggle-on" style="color:white;"></i>
    </button>
  </div>

</ul>
<!-- End of Sidebar -->
