<div class="dropdown-menu shadow animated--grow-in dropdown-menu-left py-0" id="userInfoMenu" aria-labelledby="userInfoDropdown" >
  <div class="d-flex align-items-center justify-content-center mx-3">
    <%= user_image(user, 32) %>
  <div class="ml-2 py-2">
    <%= user.username %>
    <div class="small text-gray-500"><%= user.email %></div>
    <% if user.online == 1 %>
      <div class="small text-prime ">online</div>
    <% else %>
      <div class="small text-gray">offline</div>
    <% end %>
  </div>
  </div>
  <% if current_user != user  %>
    <%= form_for @conversation, :url => create_conversation_chatrooms_path , :method => :post ,:html => { :class=>"conversation-#{user.id} drop-down-item, text-center"} do |form| %>
      <%= form.hidden_field :room_type, :value => 1 %>
      <%= form.fields_for :chatroom_users do |f| %>
        <%= f.hidden_field :user_id ,  :value => user.id %>
      <% end %>
      <%= link_to '#', :onclick => "$('.conversation-#{user.id}').submit()",:class =>'dropdown-item text-center small text-gray-500 bg-dark rounded-bottom' do  %>
        <div>create-1-on-1 Chat</div>
      <% end %>
    <% end %>
  <% end %>
</div>
