<div class="d-flex align-items-center mb-4">
  <h5 class="m-0 small text-gray-800">新增成員</h5>
</div>

<%= form_for [chatroom, chatroom_user] do |form| %>
  <div class="form-group row justify-content-center">
    <%= form.fields_for :user do |user_field| %>
      <%= user_field.text_field :email, :class => 'form-control col-11 col-md-11', :placeholder =>'輸入使用者Email或名稱 / @查詢已知使用者' %><br/>
    <% end %>
  </div>
<% end %>

<div class="users-list mt-5">
  <% @chatroom_users.each do |user| %>
    <div class="user-info navbar mx-2 my-2 p-0" data-user="<%= user.id%>">
      <div class="d-flex align-items-center justify-content-center">

        <%= render 'shared/user_info', user: user, current_user: current_user %>

        <div class="ml-2">
          <%=user.username %>
          <div class="small text-gray-500 my-2"><%= user.email %></div>
        </div>
      </div>
      <div class="leave">
        <%= link_to  chatroom_chatroom_user_path(@chatroom.id, user.id), remote: true,  method:'delete', data:{confirm: "你要移除此成為嗎？"}, class:'nav-link'  do %>
          <i class="fas fa-times text-dark"></i>
        <% end %>
      </div>
    </div>
  <% end %>
    <div class="clearfix"></div>
</div>

