<div class="text-center mb-4">
  <h1 class='h3 text-gray-900 mt-5 mb-5'>新增成員</h1>
</div>

<%= form_for [chatroom, chatroom_user] do |form| %>
  <div class="form-group row justify-content-center">
    <%= form.fields_for :user do |user_field| %>
      <%= user_field.text_field :email, :class => 'new-chatroom-input col-12 bg-light border-0 py-3 px-3', :placeholder => '輸入Email或名稱或@查詢' %>
    <% end %>
  </div>
<% end %>

<div class="users-list mt-5">
  <% @chatroom_users.each do |user| %>
    <div class="user-info navbar mx-2 my-2 p-0" data-user="<%= user.id%>">
      <div class="d-flex align-items-center justify-content-center">

        <%= render 'shared/user_info', user: user, current_user: current_user %>

        <div class="ml-2">
          <%=user.username %>
          <div class="small text-gray-500 my-2"><%= user.email %></div>
        </div>
      </div>
      <% if user.id != current_user.id %>
        <div class="leave">
          <%= link_to  chatroom_chatroom_user_path(@chatroom.id, user.id), remote: true,  method:'delete', data:{confirm: "你要踢出此成員嗎？"}, class:'nav-link'  do %>
            <i class="fas fa-times text-dark"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>

