<div class="container mt-5">
  <div class="d-flex align-items-center mb-4">
    <%= link_to chatroom_path(@chatroom), class:'nav-link' do  %>
      <i class="fas fa-backspace fa-lg text-dark"></i>
    <% end %>
    <h3 class="m-0">輸入使用者Email</h3>
  </div>

  <%= form_for [@chatroom, @chatroom_user] do |form| %>
    <div class="form-group row justify-content-center">
      <%= form.fields_for :user do |user_field| %>
        <%= user_field.text_field :email, :class => 'form-control col-10 col-md-9' %><br/>
      <% end %>
      <%= form.submit "Add Member", :class => 'btn btn-secondary form-group mx-2 col-10 col-md-2' %>
    </div>
  <% end %>

  <h3 class="my-4">成員列表</h3>
  <div class="row justify-content-around">
    <% @chatroom_users.each do |user| %>
      <div class="navbar border rounded m-3" style='width: 500px' >
        <div class="d-flex align-items-center justify-content-center mx-3">
          <%= user_image(user, 30) %>
        <div class="ml-2">
          <%=user.username %>
          <div class="smaill text-gray-500"><%= user.email %></div>
        </div>
        </div>
        <div class="leave">
          <%= link_to  chatroom_chatroom_user_path(@chatroom.id, user.id), method:'delete', data:{confirm: "你確定嗎？"}, class:'nav-link'  do %>
            <i class="fas fa-times text-dark"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
