


<div class="container mt-5">
<h3 class="mb-4">輸入使用者Email</h3>

<%= form_for [@chatroom, @chatroom_user] do |form| %>
<div class="form-group row">
  <%= form.fields_for :user do |user_field| %>
      <%= user_field.label :email, 'email' ,:class => 'col-form-label col-xl-2' %>
      <%= user_field.text_field :email, :class => 'form-control col-xl-10' %><br/>
  <% end %>
</div>
<div class="form-group row justify-content-lg-end">
  <%= form.submit :class => 'btn btn-secondary mx-2' %>
</div>
<% end %>


<h3 class="my-4">成員列表</h3>
<ul class="list-group">
    <% @chatroom_users.each do |user| %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <strong><%= user.username%></strong>
    <% unless user == current_user %>
      <%= link_to 'destroy', chatroom_chatroom_user_path(@chatroom.id, user.id), method:'delete', data:{confirm: "你確定嗎？"} %>
    <% end %>
  </li>
  <% end%>
</ul>
</div>
