<%= link_to message_path(notification.notifiable.id), method: :get do %> 
  <div class="d-flex dropdown-item align-items-center" data-behavior='notification' data-notification="<%= notification.id%>">
    <div class="mr-3">
      <div class="icon-circle bg-dark">
        <i class="fas fa-comments text-light"></i>
      </div>
    </div>
    <div class="d-flex flex-column">
      <% if notification.notifiable.chatroom.room_type == 1 %>
        <div class="small text-gray-500"><%= " #{notification.actor.username}" %></div>
      <% else %>
        <div class="small text-gray-500"><%= " #{notification.actor.username} - 來自 #{notification.notifiable.chatroom.name}" %></div>
      <% end %>

      <div>
        <%= truncate( strip_tags(notification.notifiable.body), :length => 80, :escape => false) %>
      </div>
    </div>
  </div>
<% end %>
