<!DOCTYPE html>
<html>
  <head>
    <title>Flowdock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
   <nav class="navbar">
      <div class="navbar">
        <%= link_to 'Chatty', root_path, class:'navbar-brand'%>
      </div>
      <div class="navbar-nav flex-row">
        <% if user_signed_in?%>
          <%= link_to 'Profile', edit_user_registration_path, class:'mx-2 nav-link'%>
          <%= link_to 'Sign Out', destroy_user_session_path, method:'delete', class:'mx-2 nav-link' %>
        <% else%>
          <%= link_to 'Sign In', new_user_session_path, class:'mx-2 nav-link'%>
          <%= link_to 'Sign Up', new_user_registration_path, class:'mx-2 nav-link'%>
        <% end%>
      </div>
  </nav>
    <div class="fluid-container content">
    <div class="row">
      <div class="col-sm-2 nopadding" id="sidebar">
        <% if user_signed_in? %>
          <h5>Chatrooms</h5>
          <ul>
            <% current_user.chatrooms.each do |room|%>
              <li>
                <%= link_to room.name, room, class:'sideber-link', data: {behavior: "chatroom-link", chatroom_id: room.id} %>
              </li>
            <% end %>
            <li><%= link_to 'New Chatroom', new_chatroom_path %></li>
          </ul>
        <% end %>
      </div>
      <div class="col-sm-10 mt-5" id="content">
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
