<!DOCTYPE html>
<html>
  <head>
    <title>Chatty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="bg-dark" id="sidebar-wrapper">
        <div class="sidebar-heading nav-item"><%= link_to 'Chatty', root_path, class:'navbar-brand'%></div>
        <div class="list-group list-group-flush">
          <% if user_signed_in? %>
            <% current_user.chatrooms.each do |room|%>
              <%= link_to room.name, room, class:'list-group-item bg-dark', data: {behavior: "chatroom-link", chatroom_id: room.id} %>
            <% end %>
            <%= link_to 'New Chatroom', new_chatroom_path, class:'list-group-item bg-dark' %>
          <% end %>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <div id="page-content-wrapper" class="d-flex flex-column">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 my-0"  >
          <button class="btn btn-dark" id="menu-toggle">Toggle Menu</button>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <% if user_signed_in?%>
                <li class="nav-item">
                  <%= link_to 'Profile', edit_user_registration_path, class:'mx-2 nav-link'%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Sign Out', destroy_user_session_path, method:'delete', class:'mx-2 nav-link' %>
                </li>
              <% else%>
                <li class="nav-item">
                  <%= link_to 'Sign In', new_user_session_path, class:'mx-2 nav-link'%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Sign Up', new_user_registration_path, class:'mx-2 nav-link'%>
                </li>
              <% end%>
            </ul>
          </div>
        </nav>
        <div class="container-fluid my-0 bg-faded">
          <p id="notice"><%= notice %></p>
          <%= yield %>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>
</html>